In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("marketing_customer_analysis.csv")

In [3]:
df.shape

(10910, 26)

In [4]:
# standardize headers'/columns' name

df.columns = [df.columns[i].lower().replace(" ", "_") for i in range(len(df.columns))]

In [5]:
# show numerical columns
df.select_dtypes(include="number").columns

Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')

In [6]:
# show numerical columns
df.select_dtypes(include="object").columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

In [7]:
# Check and deal with NaN values
df.isna().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [8]:
# Check and deal with NaN values
df.isna().sum().sum()

9254

In [9]:
# show those NaN to get idea of what's missing & if the missing part is in the same row 
# (meaining if that "customer" has data at all?)
df[df['vehicle_type'].isna()]

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10898,10898,SO95845,California,5807.659307,No,Basic,College,1/7/11,Employed,F,...,0.0,7,Personal Auto,Personal L3,Offer4,Call Center,133.977857,Two-Door Car,Medsize,NaN
10900,10900,VN73653,Oregon,6423.739052,No,Basic,College,2/13/11,Unemployed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,NaN
10901,10901,RY92254,Washington,4547.892543,No,Premium,Bachelor,1/13/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer4,Agent,801.577478,Two-Door Car,Medsize,NaN
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [10]:
df = df.dropna()

In [11]:
len(df)

4543

In [12]:
# remove unnamed:_0 column
df.drop('unnamed:_0', inplace=True, axis=1)

In [13]:
df.reset_index(inplace=True)

##### Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [14]:
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

In [15]:
df.head()

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
1,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
2,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
3,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
4,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A

In [16]:
df.drop('index', inplace=True, axis=1)

In [17]:
import datetime

In [18]:
df['year'] = pd.DatetimeIndex(df['effective_to_date']).year
df['month'] = pd.DatetimeIndex(df['effective_to_date']).month

In [19]:
df[(df['month'] > 0) & (df['month'] < 4)]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,year,month
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011,2
1,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011,1
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,2011,1
3,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,...,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,2011,1
4,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,...,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2011,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,...,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,2011,1
4539,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,2011,1
4540,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2011,2
4541,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011,1
4542,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011,2

##### Another way to do it without creating a new 'month' column

In [20]:
# Filter the data to show only the information for the first quarter , 
# ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

df[(df['effective_to_date'].dt.month > 0) & (df['effective_to_date'].dt.month < 4)]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,year,month
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011,2
1,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011,1
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,2011,1
3,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,...,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,2011,1
4,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,...,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2011,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,28304,...,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,2011,1
4539,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,2011,1
4540,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2011,2
4541,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011,1
4542,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011,2

In [21]:
import pandas as pd
import datetime

def data_wrangling():
    df = pd.read_csv("marketing_customer_analysis.csv") 
    print(df.shape)
    print(df.head())
    
    df.columns = [df.columns[i].lower().replace(" ", "_") for i in range(len(df.columns))]
    
    print("Numerical columns: ", df.select_dtypes(include="number").columns)
    print("Categorical columns: ", df.select_dtypes(include="object").columns)
    
    na = df.isna().sum()
    print("NaN: ", na)
    
    df = df.dropna()
    print("Dropped NaN")
    
    df.reset_index(inplace=True)
    
    df = df.drop(['unnamed:_0', 'index'], axis=1)
    
    df['month'] = pd.DatetimeIndex(df['effective_to_date']).month
    print(df[(df['month'] > 0) & (df['month'] < 4)])
    
    print(df)
    return df

data_wrangling()

(10910, 26)
   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]
Numerical columns:  Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')
Categorical columns:  Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')
NaN:  unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64
Dropped NaN
     customer       state  customer_lifetime_value response  coverage  \
0     LZ68649  Washington             14947.917300       No     Basic
1     XL78013      Oregon             22332.439460      Yes  Extended
2     HG93801     Arizona              5154.764074       No  Extended
3     KR82385  California              5454.587929       No     Basic
4     FH51383  California              5326.677654       No     Basic
...       ...         ...                      ...      ...       ...
4538  PP30874  California              3579.023825       No  Extended
4539  SU71163     Arizona              2771.663013       No     Basic
4540  QI63521      Nevada             19228.463620       No     Basic
4541  KX53892      Oregon              5259.444853       No     Basic
4542  WA60547  California             11971.977650       No   Premium

                 education effective_to_date employmentstatus gender  income  \
0                 Bachelor           2/10/11         Employed      M   22139
1                  College           1/11/11         Employed      M   49078
2     High School or Below            1/2/11         Employed      M   82730
3                   Master           1/26/11         Employed      M   66334
4     High School or Below            2/7/11         Employed      F   76717
...                    ...               ...              ...    ...     ...
4538  High School or Below           1/24/11         Employed      F   28304
4539               College            1/7/11         Employed      M   59855
4540  High School or Below           2/24/11       Unemployed      M       0
4541               College            1/6/11         Employed      F   61146
4542               College           2/13/11         Employed      F   64195

      ... number_of_policies     policy_type        policy  renew_offer_type  \
0     ...                  2   Personal Auto   Personal L3            Offer3
1     ...                  2  Corporate Auto  Corporate L3            Offer2
2     ...                  1  Corporate Auto  Corporate L3            Offer2
3     ...                  4   Personal Auto   Personal L3            Offer4
4     ...                  6   Personal Auto   Personal L3            Offer4
...   ...                ...             ...           ...               ...
4538  ...                  1   Personal Auto   Personal L2            Offer2
4539  ...                  1   Personal Auto   Personal L2            Offer2
4540  ...                  2   Personal Auto   Personal L2            Offer1
4541  ...                  6   Personal Auto   Personal L3            Offer2
4542  ...                  6   Personal Auto   Personal L1            Offer1

      sales_channel  total_claim_amount  vehicle_class vehicle_size  \
0       Call Center          480.000000            SUV      Medsize
1            Branch          484.013411  Four-Door Car      Medsize
2            Branch          442.521087            SUV        Large
3       Call Center          331.200000   Two-Door Car      Medsize
4       Call Center          300.528579   Two-Door Car        Large
...             ...                 ...            ...          ...
4538          Agent          655.200000  Four-Door Car      Medsize
4539         Branch          355.200000   Two-Door Car      Medsize
4540         Branch          897.600000     Luxury SUV      Medsize
4541         Branch          273.018929  Four-Door Car      Medsize
4542         Branch          618.288849            SUV      Medsize

     vehicle_type month
0               A     2
1               A     1
2               A     1
3               A     1
4               A     2
...           ...   ...
4538            A     1
4539            A     1
4540            A     2
4541            A     1
4542            A     2

[4543 rows x 26 columns]
     customer       state  customer_lifetime_value response  coverage  \
0     LZ68649  Washington             14947.917300       No     Basic
1     XL78013      Oregon             22332.439460      Yes  Extended
2     HG93801     Arizona              5154.764074       No  Extended
3     KR82385  California              5454.587929       No     Basic
4     FH51383  California              5326.677654       No     Basic
...       ...         ...                      ...      ...       ...
4538  PP30874  California              3579.023825       No  Extended
4539  SU71163     Arizona              2771.663013       No     Basic
4540  QI63521      Nevada             19228.463620       No     Basic
4541  KX53892      Oregon              5259.444853       No     Basic
4542  WA60547  California             11971.977650       No   Premium

                 education effective_to_date employmentstatus gender  income  \
0                 Bachelor           2/10/11         Employed      M   22139
1                  College           1/11/11         Employed      M   49078
2     High School or Below            1/2/11         Employed      M   82730
3                   Master           1/26/11         Employed      M   66334
4     High School or Below            2/7/11         Employed      F   76717
...                    ...               ...              ...    ...     ...
4538  High School or Below           1/24/11         Employed      F   28304
4539               College            1/7/11         Employed      M   59855
4540  High School or Below           2/24/11       Unemployed      M       0
4541               College            1/6/11         Employed      F   61146
4542               College           2/13/11         Employed      F   64195

      ... number_of_policies     policy_type        policy  renew_offer_type  \
0     ...                  2   Personal Auto   Personal L3            Offer3
1     ...                  2  Corporate Auto  Corporate L3            Offer2
2     ...                  1  Corporate Auto  Corporate L3            Offer2
3     ...                  4   Personal Auto   Personal L3            Offer4
4     ...                  6   Personal Auto   Personal L3            Offer4
...   ...                ...             ...           ...               ...
4538  ...                  1   Personal Auto   Personal L2            Offer2
4539  ...                  1   Personal Auto   Personal L2            Offer2
4540  ...                  2   Personal Auto   Personal L2            Offer1
4541  ...                  6   Personal Auto   Personal L3            Offer2
4542  ...                  6   Personal Auto   Personal L1            Offer1

      sales_channel  total_claim_amount  vehicle_class vehicle_size  \
0       Call Center          480.000000            SUV      Medsize
1            Branch          484.013411  Four-Door Car      Medsize
2            Branch          442.521087            SUV        Large
3       Call Center          331.200000   Two-Door Car      Medsize
4       Call Center          300.528579   Two-Door Car        Large
...             ...                 ...            ...          ...
4538          Agent          655.200000  Four-Door Car      Medsize
4539         Branch          355.200000   Two-Door Car      Medsize
4540         Branch          897.600000     Luxury SUV      Medsize
4541         Branch          273.018929  Four-Door Car      Medsize
4542         Branch          618.288849            SUV      Medsize

     vehicle_type month
0               A     2
1               A     1
2               A     1
3               A     1
4               A     2
...           ...   ...
4538            A     1
4539            A     1
4540            A     2
4541            A     1
4542            A     2

[4543 rows x 26 columns]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
1,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1
3,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1
4,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
4539,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
4540,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
4541,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
4542,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2